@import "variables.less";
@import "mixins.less";

.navbar {
        min-height: 65px;
}

.navbar-default {
    background-color: @navColor;
    border-color: @navColor;
    .navbar-brand {
        color: @secondColor;
        font-family: @font;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 20px 20px;
    }
    .navbar-nav li a {
        color: @secondColor;
        font-family: @font;
        padding: 20px 20px;
    }
    .navbar-toggle {
        background-color: @secondColor;
        font-family: @font;
    }
    .navbar-right {
        font-size: 1.5em;
    }
}

header {
  text-align: center;
  background: @mainColor;
  color: white;
  .container {
      padding-top: 6em;
      padding-bottom: 3em;
      height: 50em;
  }
  img {
      display: block;
      margin: 0 auto 1.5em;
      border-radius: 50%;
  }
  .header-text {
      font-family: @font;
      color: @secondColor;
      letter-spacing: 0.1em;
      h1, h2 {
          font-weight: 700;
          color: @thirdColor;
        }
    }
}
#about {
    background-color: @thirdColor;
    padding-top: 6em;
    padding-bottom: 3em;
    .about {
        text-align: center;
        font-family: @font;
        font-weight: 700;
        padding-bottom: 3em;
    }
    hr {
        border-color: @navColor;
        padding-bottom: 2em;
        border-width: 0.25em;
    }
    h1 {
        text-transform: lowercase;
        // padding-bottom: 1em;
        font-weight: 800;
        color: @navColor;
    }
    .fa {
        color: @navColor;
        padding-bottom: 0.75em;
    }
    ul, li {
        list-style-type: circle;
        padding-bottom: 0.5em;
        line-height: 2em;
        font-size: 1.05em;
        text-align: left;
        @media (max-width: 767px) {
            text-align: center;
            font-size: 1.2em;
        }
    }
}
#projects {
    text-align: center;
    background-color: @secondColor;
    padding-top: 6em;
    padding-bottom: 3em;
    h1 {
        font-family: @font;
        font-weight: 800;
        // margin-bottom: 1.5em;
        color: @navColor;
        text-transform: uppercase;
    }
    #folder-icon {
        color: @navColor;
        margin-bottom: 1.25em;
    }
    i, h4 {
        text-decoration: none;
        color: #FAF0E6;
    }
    .carousel-control.left, .carousel-control.right {
    background-image: none;
    }
}
#contact {
    background-color: @thirdColor;
    font-family: @font;
    h1 {
        font-weight: 900;
    }
    ul li {
        display: inline-block;
        padding-left: 1em;
    }
    a {
        text-decoration: none;
        color: @navColor;
    }
}